{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <div class="columns is-mobile">
        <div class="column">
            <h1>Selectionner un joueur</h1>
            {% for player in players %}
            <div class="columns is-desktop is-half">
                <div class="column is-one-quarter is-half">
                    <p>{{ player.name }}</p> 
                </div>
                <div class="column is-one-quarter is-half">
                    {{ include('user/player/_delete_form.html.twig') }}
                </div>
            </div>
            {% endfor %}
            <button class="button is-primary" onclick="showModal()">Ajouter un joueur</button>
        </div>
    </div>
       
    <!-- pop up -->
    <div class="modal">
        <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Ajouter un joueur</p>
                    <button class="delete" aria-label="close" onclick="closeModal()"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Il faut préciser l'action dans le formulaire -->
                    {{ form_start(form, {'action': path('player_new' , {'form': form } ) }) }}
                       {{ form_widget(form) }}
                        <button class="btn button is-success is-light">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </section>
                    <footer class="modal-card-foot">
                    <!-- close only -->
                    <button class="button" onclick="closeModal()">Cancel</button>
                </footer>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
    <script>
        function showModal() {
            document.querySelector(".modal").classList.add("is-active");  
            // url = $(this).attr('data-target');
            //  //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
            //document.querySelector.get(url, function (data) {
            // //on injecte le html dans la modale
            //document.querySelector('.modal-content').html(data);
            // //on ouvre la modale
           //  document.querySelector('#modal1').modal('open');
       // });
        }

        function closeModal() {
            document.querySelector(".modal").classList.remove("is-active");  
        }
        
    </script>
{% endblock %}
